<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.onepiece.start.mapper.TagInfoMapper">
    <select id="getTagList" resultType="com.onepiece.common.pojo.TagInfo">
        select tag.tag_id,
               tag.tag_name,
               tag.category_id,
               category.category_name,
               tag.`status`,
               tag.`is_delete`,
               tag.create_time
        from `tag_info` as tag
                 left join `category_info` as category
                           on category.category_id = tag.category_id
        where tag.`is_delete` = 0
          and category.`is_delete` = 0
          and category.`status` = 1
    </select>

    <insert id="addTag" parameterType="com.onepiece.common.pojo.TagInfo"
            useGeneratedKeys="true" keyProperty="tagId" keyColumn="tag_id">
        insert into tag_info (`tag_name`, `category_id`, `is_delete`, `status`,
                              `create_time`)
        values (#{tagName}, #{categoryId}, #{isDelete}, #{status},
                #{createTime});
    </insert>

    <select id="getTagByName" resultType="com.onepiece.common.pojo.TagInfo" parameterType="java.lang.String">
        select *
        from tag_info
        where is_delete = 0
          and tag_name = #{tagName}
    </select>

    <select id="getTagListByCategoryId" resultType="com.onepiece.common.pojo.TagInfo" parameterType="java.lang.Integer">
        select *
        from tag_info
        where is_delete = 0
          and status = 1
          and category_id = #{categoryId}
    </select>
</mapper>
