<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.onepiece.start.mapper.UserInfoMapper">
    <select id="getUserInfo" resultType="com.onepiece.common.pojo.UserInfo">
        select user_id,nickname from user_info where user_id = 1
    </select>

<!--    <insert id="insert" parameterType="com.haust.redisdemo.domain.User">-->
<!--        insert sys_user(id,user_name) values(#{id},#{userName})-->
<!--    </insert>-->

<!--    <update id="update" parameterType="com.haust.redisdemo.domain.User">-->
<!--        update sys_user set user_name = #{userName} where id=#{id}-->
<!--    </update>-->

<!--    <delete id="delete" parameterType="string">-->
<!--        delete from sys_user where id= #{id}-->
<!--    </delete>-->

<!--    <select id="find" resultType="com.haust.redisdemo.domain.User" parameterType="string">-->
<!--        select id,user_name from sys_user where id=#{id}-->
<!--    </select>-->

<!--    <delete id="deleteAll">-->
<!--        delete from sys_user-->
<!--    </delete>-->
</mapper>
