<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.onepiece.start.mapper.UserInfoMapper">
    <select id="getUserInfoByOpenId" resultType="com.onepiece.common.pojo.UserInfo">
        select *
        from user_info
        where openid = #{openId}
    </select>

    <insert id="QQRegister" parameterType="com.onepiece.common.pojo.UserInfo"
            useGeneratedKeys="true" keyProperty="userId" keyColumn="user_id">
        insert into user_info(`openid`, `unionid`, `nickname`, `sex`,
                              `country`, `province`, `city`, `address`,
                              `account_binding_type`, `head_img`, `phone`, `email`,
                              `username`, `password`, `security_questions`, `interest_tags`,
                              `friend_links`, `description`, `privilege`, `identity`,
                              `level`, `points`, `create_time`)
        values (#{openid}, #{unionid}, #{nickname}, #{sex},
                #{country}, #{province}, #{city}, #{address},
                #{accountBindingType}, #{headImg}, #{phone}, #{email},
                #{username}, #{password}, #{securityQuestions}, #{interestTags},
                #{friendLinks}, #{description}, #{privilege}, #{identity},
                #{level}, #{points}, #{createtime});
    </insert>



    <!--    <select id="find" resultType="com.haust.redisdemo.domain.User" parameterType="string">-->
    <!--        select id,user_name from sys_user where id=#{id}-->
    <!--    </select>-->

    <!--    <delete id="deleteAll">-->
    <!--        delete from sys_user-->
    <!--    </delete>-->
</mapper>
